---
import Layout from "@/layouts/Layout.astro";
import IconSvg from "@/components/IconSvg.astro";
import LoginForm from "./LoginForm";

// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const username = data.get("username");
//     const password = data.get("password");

//     const res = await (
//       await fetch(`${import.meta.env.BASE_API_URL}/auth-user/signin`, {
//         method: "post",
//         headers: {
//           Accept: "application/json",
//           "Content-Type": "application/json",
//         },
//         body: JSON.stringify({
//           username,
//           password,
//         }),
//       })
//     ).json();

//     const accessToken = res?.data?.accessToken;
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<Layout title="Login">
  <div class="hero min-h-screen container mx-auto w-[81.25rem]">
    <div class="flex flex-row-reverse items-center justify-around">
      <div class="text-center lg:text-left basis-1/2">
        <h1 class="text-4xl font-bold">
          <!-- <Image src={checkSVG} alt="" /> -->
          Sign in to get instant access to thousands of reviews and salary information
        </h1>
        <div class="pb-4 pt-6 flex flex-row gap-2">
          <IconSvg icon="check" />
          <p>View salary to help you negotiate your offer or pay rise</p>
        </div>
        <div class="py-4 flex flex-row gap-2">
          <IconSvg icon="check" />
          <p>Find out about benefits, interview, company culture via reviews</p>
        </div>
        <div class="py-4 flex flex-row gap-2">
          <IconSvg icon="check" />
          <p>Easy apply with only 1 click</p>
        </div>
        <div class="py-4 flex flex-row gap-2">
          <IconSvg icon="check" />
          <p>Manage your own profile & privacy</p>
        </div>
      </div>
      <LoginForm client:visible />
    </div>
  </div>
</Layout>
