---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Forget">
  <div class="hero min-h-screen container mx-auto max-w-[600px]">
    <div class="card shrink-0 w-full shadow-2xl bg-base-100 mt-4">
      <form class="card-body formStep" id="step1">
        <h1 class="text-center text-4xl font-extrabold">Forgot Password?</h1>
        <p class="text-center">
          Remember your password? <a href="/login" class="link link-primary">
            Login here
          </a>
          <div class="form-control mb-4">
            <label class="input input-bordered flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="w-4 h-4 opacity-70"
                ><path
                  d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
                ></path><path
                  d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
                ></path></svg
              >
              <input
                type="text"
                class="grow email"
                placeholder="Email"
                required
              />
            </label>
          </div>
          <div class="form-control mt-4">
            <button class="btn btn-primary next">Send mail</button>
          </div>
        </p>
      </form>
    </div>
  </div>
</Layout>
