---
import MainHead from "@/layouts/MainHead.astro";
import Navbar from "@/components/Navbar.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} />
  <body>
    <Navbar />
    <main class="container mx-auto w-[81.25rem]">
      <slot />
    </main>
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      span {
        margin: 1rem auto;
      }
    </style>
  </body>
</html>
