---
import MainHead from "@/layouts/MainHead.astro";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} />
  <body class="min-h-screen flex flex-col justify-between">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      /* span {
        margin: 1rem auto;
      } */
      button,
      span,
      p {
        font-size: 1rem;
        color: black;
      }

      body {
        background-color: #f4f5f5;
      }

      .indicator {
        color: white;
      }
    </style>
  </body>
</html>
